<!--=======Navigations-->
<header class="top-header">
  <div class="top-left-slide" id="top-left-id">
    <h1 class="business-logo">MathQuest</h1>
  </div>
  <div class="top-right-slide" id="top-right-id">
    <ul class="navigation-outer">
      <li>
        <a routerLink="/navigation/home" routerLinkActive="active">HOME</a>
      </li>
      <li>
        <a routerLink="/navigation/games" routerLinkActive="active">GAMES</a>
      </li>
      <li>
        <a routerLink="/navigation/contact" routerLinkActive="active">CONTACT</a>
      </li>
      <li>
        <a routerLink="/navigation/lessons" routerLinkActive="active">LESSONS</a>
      </li>
    </ul>
  </div>
</header>
<!--=======Navigations-->
<router-outlet></router-outlet>

